body{
            background-color:#eee;
}
#topMenu .weui-navbar__item:after {
border-right: 0;
color:#999;
}

#topMenu .weui-navbar-onborder {
border-bottom: 3px solid #ba3987;
color: #ba3987;
}

#bottomMenu .weui-flex__item{
line-height:1rem;
}

#topMenu {
height: 2.5rem;
}

.sCity {
padding: 0.4rem;
background-color:#fff;
}

.sCity .cityDesp {
    width: 100%;
    display: block;
    font-size: 0.6rem;
    height: 0.8rem;
    color: #999;
}

.sCity .City {
    display: block;
    font-family:'SimHei';
    height: 1.4rem;
    padding-top: 0.1rem;
    font-weight: 500;
    font-size: 1.3rem;
    color:#444;
}

.sCity .weui-flex__item {
    text-align: center;
}

.sCity .title {
    color: #999;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.3rem;
}

.sCity .date {
    color: #555;
    font-size: 1.1rem;
    text-align: right;
}

.sCity .week {
    color: #555;
    font-size: 1.1rem;
    text-align: center;
}

.HotCity{
    list-style:none;
    background-color:#fff;
    padding:0.3rem;
    padding-top:1rem;
    margin:0;
    display:inline-block;
    width:100%;
    min-height:2rem;
}
.HotCity li{
    width:33.3%;
    float:left;
    background-color:#fff;
    height:2.4rem;
    margin:0;
    text-align:center;
}
.HotCity li span{
    border:1px solid #ddd;
    border-radius:5px;
    padding:0.3rem 1.2rem;
    color:#666;
    display:block;
    width:40%;
    font-size:0.8rem;
}
.Alllater{
    list-style:none;
    background-color:#fff;
    padding:0.3rem;
    padding-top:1rem;
    margin:0;
    display:inline-block;
    width:100%;
    min-height:2rem;
}
.Alllater li{
    width:16.6%;
    float:left;
    background-color:#fff;
    height:2.4rem;
    margin:0;
    text-align:center;
}
.Alllater li span{
    border:1px solid #ddd;
    border-radius:5px;
    padding:0.3rem 0.6rem;
    color:#666;
    font-size:0.8rem;
    font-weight:600;
}
.CityGroup{
    width:100%;
    background-color:#fff;
    padding:0.6rem 0.6rem;
    height:1.4rem;
}
.CityGroup span{
    border:1px solid #ddd;
    padding:0.3rem 0.6rem;
    margin-right:1rem;
    border-radius:5px;
    font-weight:600;
    color:#555;
}
.CityList{
    list-style:none;
    margin:0;
    padding:0;
    background-color:#fff;
}
.CityList li{
    height:1.2rem;
    background-color:#fff;
    border-bottom:1px dashed #ddd;
    padding:0.5rem 0.8rem;
    color:#666;
}
.CityList li em{
    font-style:normal;
    font-size:0.6rem;
    color:#999;
}
.midMenu{
    margin-top:1.3rem;
    margin-left:0.3rem;
    margin-right:0.3rem;
}
.midMenu img{
    width:32%;
}
.midMenu p{
    display:block;
    font-family:'SimHei';
    font-size:0.7rem;
    color:#777;
}
.midMenu .weui-flex__item{
    text-align:center;
}

.topMenu
{
    padding:0;
    height:1.9rem;
    font-size:0.9rem;
    font-family:'SimHei';
    padding-top:0.5rem;
    color:#332c2b;
    background-color:#fefefe;
}
.topMenuActive{
    height:1.8rem;
    color:#fff;
    font-size:0.9rem;
    font-family:'SimHei';
    padding-top:0.5rem;
    background:-moz-linear-gradient(left,#a72185,#e40082);/*Mozilla*/
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#a72185),to(#e40082));/*Old gradient for webkit*/
    background:-webkit-linear-gradient(left,#a72185,#e40082);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#a72185,#e40082); /*Opera11*/
}
.notice{
    border-bottom:1px solid #ececef;
    height:1.3rem;
    padding-top:0.2rem;
    width:100%;
    color:#777;
    font-size:0.7rem;
    margin-top:2.4rem;
    background: #000000;
    background: -moz-linear-gradient(top,  #fdfbde 0%, #fffdf9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfbde), color-stop(100%,#fffdf9));
    background: -webkit-linear-gradient(top,  #fdfbde 0%,#fffdf9 100%);
    background: -o-linear-gradient(top,  #fdfbde 0%,#fffdf9 100%);
    background: -ms-linear-gradient(top,  #fdfbde 0%,#fffdf9 100%);
    background: linear-gradient(to bottom,  #fdfbde 0%,#fffdf9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbde', endColorstr='#fffdf9',GradientType=0 );
}