body{
            background-color:#eee;
        }
        .bt-Logo{
            text-align:center;
            background-color:#a01678;
            position:fixed;
            bottom:0;
            left:0;
            width:100%;
            height:3rem;
            padding:0;
        }
        .top-Logo img{
            width:100%;
        }
        .bt-Logo img{
            width:14rem;
            margin:0;
        }
        .am-btn-warning{
            background-color:#a01678;
            border:0;
        }
        .sPanel{
            background-color:#fff;
            border-radius:5px;
            height:28rem;
            margin:1.5rem;
            box-shadow:#ddd 2px 2px 2px;
        }
        .sPanel .sCity {
            padding:0.8rem 0.8rem 0.8rem 0.8rem;
            height:8rem;
            margin-top:-0.2rem;
        }
        .sPanel .sCity span{
            display:block;
            float:left;
            height:4rem;
            padding-top:0.5rem;
            font-size:2.2rem;
        }
        .sPanel .sCity .cityDesp{
            width:100%;
            display:block;
            font-size:1.3rem;
            height:2.4rem;
            color:#999;
        }
        .sPanel .sCity .noSelect{
            display:block;
            width:100%;
            border-bottom:1px solid #bbb;
            color:#555;
        }
        .sPanel .sCity .toActive{
            width:100%;
            border-bottom:2px solid #008ed6;
            color:#555;
        }
        .sPanel .sDateDesp{
            height:2.2rem;
            padding-left:0.8rem;
            padding-right:0.8rem;
            padding-top:0.5rem;
        }
        .sPanel .sDateDesp span{
            display:block;
            float:left;
            height:1.6rem;
            font-size:1.0rem;
        }
        .sPanel .sDate{
            padding:0.2rem 0.8rem 0.8rem 0.8rem;
            height:4.3rem;
        }
        .sPanel .sDate span{
            display:block;
            float:left;
            height:4rem;
            padding-top:0.6rem;
            border-bottom:1px solid #bbb;
        }
        .sPanel .sDate span em{
            color:#333;
            font-size:2.2rem;
            letter-spacing:-0.2rem;
            font-style:normal;
        }
        .sPanel .sDate span .sign{
            margin-left:0.7rem;
            letter-spacing:0;
            font-size:1.4rem;
            color:#a01678;
        }
        .sPanel .sBtn {
            margin-top:1rem;
            padding:0.8rem;
        }
        .Div_DatePanel{
            width:100%;
            margin:1rem 0;
        }
        .HotCity{
            list-style:none;
            margin:0;
            padding:0;
        }
        .HotCity li{
            margin:0;
            width:25%;
            float:left;
            height:3.4rem;
            padding:0.4rem 0.4rem 0.8rem 0.4rem;
        }
        .HotCity li span{
            border:1px solid #bbb;
            width:100%;
            color:#999;
            font-size:1.4rem;
            padding:0.3rem 1.6rem 0.3rem 1.6rem;
            border-radius:3px;
        }
        .Alllater{
            list-style:none;
            margin:0;
            padding:0;
            height:auto;
        }
        .Alllater li{
            margin:0;
            width:16%;
            float:left;
            height:3.4rem;
            padding:0.4rem 0.4rem 0.8rem 0.4rem;
        }
        .Alllater li span{
            border:1px solid #bbb;
            width:100%;
            color:#999;
            font-size:1.4rem;
            padding:0.3rem 1.5rem 0.3rem 1.5rem;
            border-radius:3px;
        }
        .CityGroup span{
            border:1px solid #bbb;
            border-radius:3px;
            color:#999;
            margin-right:1rem;
            font-size:1.4rem;
            padding:0.3rem 2rem 0.3rem 2rem;
        }
        .CityList{
            margin:0;
            padding:0;
            overflow-y:auto;
            list-style:none;
        }
        .CityList li{
            width:100%;
            height:4.2rem;
            padding-top:1rem;
            padding-bottom:2rem;
            border-bottom:1px solid #ccc;
        }
        .CityList li span{
            font-size:1.6rem;
            color:#666;
        }
        .CityList li em{
            font-size:1.4rem;
            font-style:normal;
            color:#aaa;
        }
        .am-datepicker{
            margin-left:0.5rem;
            margin-right:0.5rem;
            width:97.2%;
        }
        .hdPanel{
            background-color:#fff;
            border-radius:5px;
            height:17rem;
            margin:0.5rem;
        }
        .hdPanel ul{
            list-style:none;
            margin:0;
            padding:1rem 1rem;
        }
        .hdPanel ul li{
            width:50%;
            float:left;
            height:5.6rem;
            padding-right:0.9rem;
        }
        .hdPanel ul li div{
            padding-bottom:0.5rem;
            height:4rem;
            border-bottom:1px solid #ccc;
        }
        .hdPanel ul li div span{
            display:block;
            width:50%;
            float:left;
            font-size:1.3rem;
            color:#666;
        }
        .hdPanel ul li div span em{
            display:block;
            font-size:1.2rem;
            color:#999;
            font-style:normal;
        }

        .HisTrip{
            margin:1.5rem;
        }

        .HisTrip ul{
            list-style:none;
            margin:0;
            padding:0;
        }
        .HisTrip ul li{
            border-radius:0.4rem;
            margin-bottom:0.4rem;
            height:4rem;
            padding:1rem 0;
            background-color:#fff;
            border-bottom:1px solid #eee;
        }
        .HisTrip ul li span{
            text-align:center;
            color:#555;
        }